.session-manager-header {
    align-items: center;
    text-align: center;
}

.session-manager-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
    -webkit-box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.5);
}

.avatar-image {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.white-font {
    font-weight: bold !important;
    color: #ffffff;
    font-family: Monaco, monospace;
}

.share-button {
    transform: translateY(-75%);
    cursor: pointer;
    width: 50px !important;
    height: 50px !important;
    /*margin: 0.5rem 0;*/
    border-radius: 100% !important;
    background: transparent !important;
    border: 1px solid #ffffff !important;
}

.share-button:hover {
    background-color: #ffffff !important;
}

.share-button:hover .share-button-span {
    color: #000000 !important;
}

.share-button-span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 1.05rem;
    font-weight: bold !important;
    color: #ffffff;
    font-family: Monaco, monospace;
}

.linkable {
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 4rem;
    margin: 0.5rem 0;
    border-radius: 50px !important;
    background: transparent !important;
    border: 1px solid #ffffff !important;
}

.linkable:hover {
    background-color: #ffffff !important;
}

.linkable:hover .linkable-span {
    color: #000000 !important;
}

.linkable-span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 1.05rem;
    font-weight: bold !important;
    color: #ffffff;
    font-family: Monaco, monospace;
}

.profile-page {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #868f96 0%, #596164 100%);
}

@keyframes fadeIn {
    0% { opacity: 0}
    100% { opacity: 1 }

}

@keyframes fadeOut {
    0% { opacity: 1 }
    100% { opacity: 0}
}

.alert {
    border-radius: 0 !important;
    text-align: center;
    font-size: 1.5rem;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    animation: fadeIn 1s forwards, fadeOut 1s forwards;
    animation-delay: 0s, 3s;
}

.delete-button {
    float: right;
    transform: translateY(-38px) !important;
    width: 77.75px !important;
    height: 38px !important;
}

.profile-links {
    transform: translateY(256px) !important;
}
